.page {
  &__assortment {
  }
}
.assortment {
  padding-top: rem(60);
  padding-bottom: rem(40);
  background-color: hsl(var(--clr-white));

  @media (min-width: em(1199.98)) {
    padding-top: rem(80);
    padding-bottom: rem(60);
  }
  @media (min-width: $notebook) {
    padding-top: rem(100);
    padding-bottom: rem(80);
  }

  &__container {
    @media (min-width: em(1199.98)) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30);
    }
  }

  &__content {
    max-width: rem(640);
    @media (min-width: em(1199.98)) {
      grid-column: 2 / 3;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__text {
    > * ~ * {
      margin-top: rem(40);
    }
  }

  &__link {
    display: inline-block;
    margin-top: rem(20);

    @media (min-width: em(1199.98)) {
      margin-top: rem(30);
    }
  }

  &__image {
    max-width: rem(820);
    margin-top: rem(45);
    img {
      max-width: 100%;
    }

    @media (min-width: em(1199.98)) {
      grid-row: 1;
      grid-column: 0 / 1;
      margin-top: 0;
      align-self: center;
    }
  }
}
