.page {
  &__oil-header {
  }
}
//====================================================================================================
.oil-header {
  &__container {
    @media (min-width: em(1199.98)) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    max-width: rem(640);
  }

  &__navigation {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__image {
    margin-top: rem(100);
    margin-bottom: rem(100);

    @media (min-width: em(1199.98)) {
      margin-top: 0;
      margin-bottom: rem(50);
    }
  }

  &__img {
    width: 100%;
    max-width: rem(340);
    height: auto;

    @media (min-width: em(1199.98)) {
      max-width: rem(470);
    }
  }

  &__navigation-list {
    max-width: rem(560);
    li a span {
      text-decoration: underline;
    }
    li a {
      //== 440px ==//
      @media (min-width: $mobileNormal) {
        font-size: rem(14);
      }
    }

    @media (min-width: $mobileSmall) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $mobileNormal) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: em(1199.98)) {
      max-width: rem(400);
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(5);
    }
  }

  &__navigation-item {
  }

  &__navigation-link {
  }

  &__content {
    max-width: rem(552);
  }

  &__title--mobile {
    @media (min-width: em(1199.98)) {
      display: none;
    }
  }

  &__title--desktop {
    display: none;
    @media (min-width: em(1199.98)) {
      display: inline-block;
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__text {
    > * ~ * {
      margin-top: rem(10);
    }
  }

  &__button {
    margin-top: rem(45);
    width: 100%;

    @media (min-width: $mobileSmall) {
      width: auto;
    }
  }
}
//====================================================================================================
